QProgressBar {
                border: 1px solid grey;
                border-radius: 5px;
                text-align: center;
                width: 125px;
                height:1px;
                }
QProgressBar::chunk {
                background-color: #096bb2;
                
                    }

QPushButton{
    border-radius:5px
}